In [1]:
import pandas as pd

In [2]:
# Cria um dicionário com autores, preços e títulos
dictionary = {
    'Autores': ['Rick Riordan', 'J. R. R. Tolkien', 'Rick Riordan', 'Machado de Assis'],
    'Titulos': ['O Ladrão de Raios', 'A Sociedade do Anel', 'Mar de Monstros', 'Memórias Postumas de Brás Cubas'],
    'Preços': [41.2, 35.7, 39.5, 40.5]
}

In [3]:
## Dataframe
df = pd.DataFrame(dictionary)

In [4]:
df['Autores'][1]

'J. R. R. Tolkien'

In [5]:
df['Preços']

0    41.2
1    35.7
2    39.5
3    40.5
Name: Preços, dtype: float64

In [6]:
mascara = (df['Autores'] == 'Rick Riordan')

In [7]:
df[mascara]

        Autores            Titulos  Preços
0  Rick Riordan  O Ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [8]:
nova_linha = pd.DataFrame([{'Autores': 'Rick Riordan', 'Titulos': 'A Maldição do Titâ', 'Preços': 40.20}])

In [18]:
df = pd.concat([df, nova_linha], ignore_index=True)

In [19]:
df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J. R. R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4      Rick Riordan               A Maldição do Titâ    40.2

In [23]:
mascara_correcao = df['Titulos'] == 'A Maldição do Titâ'

In [24]:
df.loc[mascara_correcao, 'Titulos'] = 'A Maldição do Titã'

In [25]:
df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J. R. R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4      Rick Riordan               A Maldição do Titã    40.2